/*seccion historia y bares*/
/* margin aplicado con bootstrap */
.h1-bares{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 1.875rem;
    letter-spacing: 0.1875rem ;

    @include size(phone){
      text-align: center;
    }
  }
  /* margin aplicado con bootstrap */
  .subtitulo-cada-bar{
    font-family: 'Staatliches', cursive;
    font-size: 1.5625rem;
    letter-spacing: 0.0625rem;
  }
  
  /* modificacion del tamaño de las imagenes */
  
  .img-bares{
    @include dimensiones(18.75rem,25rem);
  }
  
  
  /* margin aplicado con bootstrap */
  .bares-flex{
    display: flex;
    margin-bottom: 3.125rem;

    div{
      display: flex;
      // justify-content:space-around;
      text-align: center;
      flex-direction: column;
      
      img{
        margin-bottom: 10px;
        &:hover{
          transform: scale(1.2,1.2);
          transition: 1.5s ease;
        }
      }
    }

    /*query adaptado a tablet*/
    @include size(tablet){
      @include display($flex-direction:column,$align:center);
      .bares__contenido--1{
        margin-right: 0px;
      }
    }

    /*query adaptado a celular*/
    @include size (phone){
      @include display($flex-direction:column,$align:center);
      .bares__contenido--1{
        margin-right: 0px;
        font-size: 23px;
      }

      div{
        img{
          @include dimensiones(17.1875rem,18.75rem);
        }
      }
      
    }

  }


  .bares-flex-2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3.125rem;
    div{
      display: flex;
      // justify-content:space-around;
      text-align: center;
      flex-direction: column;
      

      img{
        margin-bottom: 10px;
        &:hover{
          transform: scale(1.2,1.2);
          transition: 1.5s ease;
        }
      }
    }

    /*query adaptado a tablet*/
    @include size (tablet) {
      @include display($flex-direction:column,$align:center);
      .bares__contenido--2{
        margin-left: 0px;
      }
    }
    
    /*query adaptado a celular*/
    @include size (phone) {
      @include display($flex-direction:column,$align:center);
      .bares__contenido--2{
        margin-left: 0px;
        font-size: 23px;
      }

      div{
        img{
          @include dimensiones(275px,300px);
        }
      }
    }
  }


  .bares__contenido--1{
    @extend %propiedades-3;
    margin-right: 3.125rem;
    font-family: 'Patrick Hand italica', cursive;
    font-size: 21px;
  }
  .bares__contenido--2{
    @extend %propiedades-3;
    margin-left: 3.125rem;
    font-family: 'Patrick Hand italica', cursive;
    font-size: 21px;
  }
 