/*seccion historia y bares*/
/* margin aplicado con bootstrap */
.h1-bares{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    letter-spacing: 3px ;
  }
  /* margin aplicado con bootstrap */
  .subtitulo-cada-bar{
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    letter-spacing: 1px;
  }
  
  /* modificacion del tamaño de las imagenes */
  
  .img-blest-bares{
    @include dimensiones(300px,400px);
  }
  .img-manush-bares{
    @include dimensiones(300px,400px);
  }
  .img-patagonia-bares{
    @include dimensiones(257.5px,400px);
  }
  .img-berlina-bares{
    @include dimensiones(225px,400px);
  }
  
  /* margin aplicado con bootstrap */
  .bares-flex{
    display: flex;
    margin-bottom: 50px;

    /*query adaptado a tablet*/
    @include size(tablet){
      @include display($flex-direction:column,$align:center);
      .bares__contenido--1{
        margin-right: 0px;
      }
    }

    /*query adaptado a celular*/
    @include size (phone){
      @include display($flex-direction:column,$align:center);
      .bares__contenido--1{
        margin-right: 0px;
        font-size: 23px;
      }
    }

  }


  .bares-flex-2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;

    /*query adaptado a tablet*/
    @include size (tablet) {
      @include display($flex-direction:column,$align:center);
      .bares__contenido--2{
        margin-left: 0px;
      }
    }
    
    /*query adaptado a celular*/
    @include size (phone) {
      @include display($flex-direction:column,$align:center);
      .bares__contenido--2{
        margin-left: 0px;
        font-size: 23px;
      }
    }
  }
  .bares__contenido--1{
    @extend %propiedades-3;
    margin-right: 50px;
    font-family: 'Patrick Hand italica', cursive;
    font-size: 21px;
  }
  .bares__contenido--2{
    @extend %propiedades-3;
    margin-left: 50px;
    font-family: 'Patrick Hand italica', cursive;
    font-size: 21px;
  }
 