/*seccion contacto*/
.contenedorContacto{
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  
    "marcas contacto contacto"
    "marcas contacto contacto"
    "marcas contacto contacto";
    margin-bottom: 50px;
    
    #marcasLink{
        grid-area: marcas;

        #contactosMarcas{
            text-transform: uppercase;
            font-family: 'Staatliches', cursive;
            font-size: 30px;
            text-align: center;
            margin: 2.5rem 0 0 0;
        }
        .logos-cervecerias-contacto{
            @extend %propiedades-3;
            flex-direction: column;
            
            .img-contacto-blest{
                @include dimensiones(8.75rem,7.1875rem);
            }
            .img-contacto-manush{
                @include dimensiones(5.2344rem,9.6875rem);
            }
            .img-contacto-patagonia{
                @include dimensiones(7.2266rem,7.2266rem);
            }  
            .img-contacto-berlina{
                @include dimensiones(6.4063rem,6.4063rem);
            }
            .img-contacto-montaña{
                @include dimensiones(6.4063rem,6.4063rem);
            }

            .tam{
                margin: 30px 0px;
            }
        }
        .logos-cervecerias-contacto > {
            a > {
                img{
                    &:hover{
                        transform: scale(2,2);
                        transition: 1.5s ease;
                    }
                }
            }
        }

    }

    #mensajeMail{
        grid-area: contacto;
        flex-direction: column;
        @extend %propiedades-3;
        row-gap: 0.625rem;
        margin-bottom: 1.875rem;
        margin-top: -6.875rem;
        
        .labels{
            font-family: 'Staatliches, bold', cursive;
        }

        #consultas{
            text-transform: uppercase;
            font-family: 'Staatliches', cursive;
            font-size: 20px;
            margin-bottom: 1.25rem;
        }
        .tamInput{
            height: 2.5rem;
            background-color: nth($colores-contacto , 2 );
        }
        .texto{
            @include dimensiones(18.75rem,28.3125rem);
            background-color: nth($colores-contacto , 2 );
        }
        #bottom{
            font-size:15px;
            font-family:Verdana,Helvetica;
            color:nth($colores-contacto , 3 );
            background:nth($colores-contacto , 5 );
            @include dimensiones(1.875rem,6.25rem);
            text-transform: uppercase;
	        transition: 0.5s;

            &:hover{
                background-color: nth($colores-contacto , 4 );
                border: 5px solid nth($colores-contacto , 4 );
                color: nth($colores-contacto , 3 );
                cursor: pointer; 
            }
        }
    }

    /*query adaptao a tablet*/
    @include size (tablet) {
        grid-template-columns: 100%;
        grid-template-areas: unset;

        #marcasLink{
            grid-area: unset;
        }
        #mensajeMail{
            grid-area: unset;
            margin: 20px 0px;
          
            .texto, .tamInput{
                width: 300px;
            }
        }
    }

    /*query adaptado a celular*/
    @include size(phone) {
        grid-template-columns: 100%;
        grid-template-areas:unset;

        #marcasLink{
            grid-area: unset;
        }
        
        #mensajeMail{
            grid-area: unset;
            margin: 20px 0px;

            .texto, .tamInput{
                width: 200px;
            }
        }
    }
}