footer{
    background: nth($colores-footer , 1 );
    padding: 20px;
}

.parrafoFooter{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Nanum Gothic bold', sans-serif;
    font-weight: bold;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "columna1 columna2 columna3";
    column-gap: 10px;

    /* COLUMNA 1 */
    .imagen_logos_redes{
        margin: 10px 40px;
        @extend %propiedades-2;
 
        a{
            @extend %decoration-none;
            margin-left: 10px;
            font-family: 'Staatliches', cursive;
            color: nth($colores-footer, 2 );
            font-size: 20px;
        }
        .color-twitter{
            &:hover{
                color: rgb(0, 247, 255);
            }
        }
        .color-face{
            &:hover{
                color: rgb(4, 0, 255);
            }
        }
        .color-insta{
            &:hover{
                color: rgb(255, 255, 255);
            }
        }
    }

    /* COLUMNA2 */
    .imagen-logo-mail{
        @extend %propiedades-2;
        flex-direction: column;
        .footer-1{
            @extend %propiedades-3;

            p{
                margin-bottom: 0%;
            }
        }

        .footer-2{
            .correo{
                margin: 20px 0px;    
            }
            li{
                list-style-type:none;
                a{
                    @extend %decoration-none;  
                    color: black;
                    &:hover{
                        color: #a4af04;
                        @include size(phone){
                            &:hover{
                                color:#e43905;
                            }
                        }
                    }                  
                }
            }
        }

        .correo{
            margin-left: 10px;
            font-family: 'Nanum Gothic bold', sans-serif;
            font-size: 15px;
            font-weight: bolder;
        }
    }

    /* COLUMNA3 */
    .columna_3{
        @extend %propiedades-3;

        .logo__footer{ /*tamaño logo*/
            @include dimensiones(190px,190px);
            border-radius: 1000px;
            border: 2px solid nth($colores-footer, 3 );
        }
    }
    /*footer adaptado a tablet*/
    @include size(tablet) {
        grid-template-columns: 100%;
        row-gap: 10px; /* espacio entre filas */
        grid-template-areas: unset;
    }

    /*footer adaptado a celular*/
    @include size(phone) {
        background-color: #b2bb35;
        grid-template-columns: 100%;
        row-gap: 10px; /* espacio entre filas */
        grid-template-areas: unset;
        .imagen_logos_redes{
            margin: 10px 0px;
        }
        .imagen-logo-mail{
            justify-content: center;
            .correo{
                margin-bottom: 0px;
            }
            
        }
    }
}