.Iam{
    background-image: linear-gradient(to bottom,nth($colores-header,2) 20%, nth($colores-header,3) 80%);
    height: 100px;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    color: nth($colores-header, 1);
    @extend %propiedades-3;

    div{
        display: none;
    }

    p {
        height: 50px;
        margin-right: 0.3em;
        margin-bottom: 0%;
    }

    b {
        overflow: hidden;
        position: relative;
        height: 50px;
    }

    .innerIam {
        display: inline-block;
        color: nth($colores-header, 4 );
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;

        /*animation*/
            -webkit-animation:move 6s;
            -moz-animation:move 6s;
            -ms-animation:move 6s;
            -o-animation:move 6s;
            animation:move 6s;
        /*animation-iteration-count*/
            -webkit-animation-iteration-count:infinite;
            -moz-animation-iteration-count:infinite;
            -ms-animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
        /*animation-delay*/
            -webkit-animation-delay:3s;
            -moz-animation-delay:3s;
            -ms-animation-delay:3s;
            -o-animation-delay:3s;
            animation-delay:3s;
    }

    @keyframes move{
        0%  { top: 0px; }
        40% { top: -60px; }
        80% { top: -110px; } 
    }
    @-webkit-keyframes move {
        0%  { top: 0px; }
        40% { top: -60px; }
        80% { top: -110px; } 
      }
      @-moz-keyframes move {
        0%  { top: 0px; }
        40% { top: -60px; }
        80% { top: -110px; } 
      }
      @-o-keyframes move {
        0%  { top: 0px; }
        40% { top: -60px; }
        80% { top: -110px; } 
      }
      @keyframes move {
        0%  { top: 0px; }
        40% { top: -60px; }
        80% { top: -110px; } 
      }
    
    // /*header adaptado a celular*/
    @include size(phone) {
        display: grid;
        align-items: center;
        font-size: 35px;
        color: #fff;
        text-align: center;

        div{
            display: flex;
            justify-content: center;

            img{
                height: 40px;
                width: 40px;
            }
        }
        p{
            display: flex;
            justify-content: center;
            align-items: center; 
            margin-right: 0;
        }

        .innerIam{
            display: none;
        }
    }
    /*hader adaptado a tablet*/
    @include size(tablet) {
        display: flex;
        font-size: 35px;
        color: #fff;

        div{
            display: flex;
            justify-content: center;

            img{
                height: 40px;
                width: 40px;
            }
        }
        
        .innerIam{
            display: none;
        } 
    }
}



// MENU DE NAVEGACION
.imagen-beer{
    &:hover{
        transform: scale(1.5,1.5);
        transition: 1.5s ease;
    }
}

.color-header{
    margin: 0px 20px;
    font-size: 17px;
}
.img-header{
    margin: 0px 20px;
}
.contenedor-ul {
    span{
        &:hover{
            color:#d16200;
        }
    }
    i{
        margin-right: 10px;
    }
}
.fa-home{
    &:hover{
        color:rgb(0, 174, 255);
    }
}
.fa-beer{
    &:hover{
        color:rgb(223, 185, 18);
    }
}
.fa-address-book{
    &:hover{
        color:rgb(151, 86, 32);
    }
}
.fa-user-tie{
    &:hover{
        color:rgb(167, 28, 28);
    }
}
.fa-landmark{
    &:hover{
        color:rgb(99, 165, 24);
    }
}

@include size(phone){
    li{
        margin-left: 8px;
    }
    .fa-home{
            color:rgb(0, 174, 255);
    }
    .fa-beer{
            color:rgb(223, 185, 18);
    }
    .fa-address-book{
            color:rgb(151, 86, 32);
    }
    .fa-user-tie{
            color:rgb(167, 28, 28);
    }
    .fa-landmark{ 
            color:rgb(99, 165, 24);
    }
}
.submenu {
    li {
        a {
            font-family: 'Open sans';
            font-size: 20px;
            &:hover{
                transition: padding .2s;
                padding-left: 30px;
                color: #d16200;
                background-color: rgb(107, 107, 107);
            }
        }
    }
}

.navbar{

    .dropdown-menu{
        background-color: #212529;
        display: block;
        height: 0px;
        padding: 0;
        border: 0;
        transition: all .2s;
        
        .dropdown-item{
            display: none;
        }
        &.show{
            overflow: hidden;
            .dropdown-item{
                display: block;
                transition: all .25s;
                &:hover{
                    background-color: #dcdbdf;
                }
            }

            box-shadow: 0 30px 30px 0 rgba(0,0,0,.3);
            background: rgba(255,255,255,.92);
            display: block;
            height: 40px*4; 
            
        }
    }
}