/*seccion nosotros*/
.nosotros__flex{
    display: flex;
    @include display( column,center);
    box-shadow: 0px 0px 10px;
    margin: 20px 200px;
    padding: 70px;

    
    .nosotros__titulo{
        text-align: center;
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        padding: 50px;
    }
    
    .nosotros__contenido{
        font-family: 'Patrick Hand', cursive;
        font-size: 21px;
        text-align: center;
        padding-bottom: 60px;
        line-height: 40px;
        width: 60%;
    }
    img{
        @include dimensiones(400px,400px)
    }
    /*query seccion nosotros tablet*/
    @include size(tablet){
        
        box-shadow: 0px;
        margin: 0%;
        padding: 0%;;
        img{
            @include dimensiones(300px,300px);
            padding: 50px;
        }
    }
    
    /*query seccion nosotros cellular*/
    @include size(phone) {
        box-shadow: 0px;
        margin: 0%;
        padding: 0%;;
        img{
            @include dimensiones(300px,300px);
            padding: 50px;
        }
    }
}